@charset "utf-8";
$main_color: #000;
$sub_color: #fffff9;
$point_color: #dd2131;
$font_color: #fff;
$font-family: "Lato", sans-serif;

/*   　common ------------------------------------
----------------------------------------------*/
body {
	font-family: $font-family;
	background: #000;
}
#wrapper {
	width: 100%;
	overflow:hidden;
}

.h2 {
	font-family: "Georgia";
	font-size: 40px;
	color: #ffe599;
	text-align: center;
	margin: 60px 0;
}

.box_caption {
  position: relative;
  display: inline-block;
  width: 400px;
  margin: 2em auto;
  padding: 1em 2em;
  border: 1px solid #fff;
	.caption{
		position: absolute;
	  top: 0;
	  left: 50%;
	  font-size: 1em;
	  padding: 0 0.5em;
	  margin: 0;
	  color: $font_color;
	  font-weight: 700;
	  background-color: $point_color;
	  transform: translateY(-50%) translateX(-50%);
	  width: 350px;
	}
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: $point_color;
    color: $font_color;
    font-size: 1.6rem;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    opacity: 0.7;
    &:hover {
			opacity: 0.9;
		}
}


.bold {
	font-weight: 700;
}
.sp {
	display: none;
}
.pc {
	display: block;
}
@media (max-width: 768px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.h2 {
		font-size: 30px;
		margin: 30px 0 ;
	}

	.box_caption {
		width: 70%;
		.caption {
			width: 400px;
		}
	}
}
@media (max-width: 500px) {
	.box_caption {
		width: 90%;
	}
}

/*   header------------------------------------
----------------------------------------------*/
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	height: 90px;
	width: 100%;
	padding: 20px 100px;
	background-color:rgba(0,0,0,0.6);
	#logo {
		img {
			height: 50px;
			float: left;
		}
	}
	nav {
		float: right;
		#nav_ul {
			li {
				float: left;
				margin-left: 30px;
				line-height: 50px;
				color: $font_color;
				font-size: 18px;
				&:hover {
					color: $point_color;
				}
				a {
					text-decoration: none;
					color: $font_color;
					&:hover {
						color: $point_color;
					}
				}

			}
			#menu_nav {
				i {
					margin-left: 5px;
					color: #eee;
					opacity: .6;
				}
				#menu_nav_li {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 1001px) {
	#menu_nav:hover {
		position: relative;
		#menu_nav_li {
			display: flex;
			flex-direction: column;
			text-align: left;
			position: absolute;
			top: 50px;
			left: -20px;
			z-index: 100;
			li {
				padding: 0 20px;
				width: 100px;
				background-color:rgba(0,0,0,0.8);
				margin-left: 0;
			}
		}
	}
}



@media (max-width: 768px) {
	header {
		height: 60px;
		padding: 5px 20px;
		#logo {
			img {
				height: 50px;
			}
			.logo_02 {
				height: 40px;
				width: 60%;
				margin-top: 5px;
				margin-left: 5px;
			}
		}
		
		#nav_toggle{
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
			top: 13px;
			right: -15%;
			z-index: 100;
			div {
				position: relative;
			}
			span {
				display: block;
				height: 3px;
				background: #fff;
				position:absolute;
				width: 100%;
				left: 0;
				-webkit-transition: 0.5s ease-in-out;
				-moz-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					top: 12px;
				}
				&:nth-child(3) {
					top: 24px;
				}
			}
		}
		nav {
			display:none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100vh;
			background:rgba(255,255,255,0.8);
			left: 0;
			#nav_ul {
				display: flex;
				flex-direction: column;
				width: 90%;
				height: 350px;
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				margin: auto;
				li {
					margin: 0 auto;
					text-align: center;
					font-size: 2em;
					border-bottom: 1px solid #000;
					color: #000;
					padding: 10px 0;
					&:last-child{
						border: none;
					}
					a {
						display: block; 
						color: #000;
					}
					
				}
				#menu_nav {
					display: block;
										
					i {
						color: #000;
					}
					#menu_nav_li {
						width: 100px;
						margin-left: 10px;
						li {
							font-size: .8em;
							padding: 10px 0;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}
			}

			.sp {
				i {
					line-height: 50px;
					font-size: 40px;
					color: $font_color;
				}
			}
		}
	}
	.open {
			#nav_toggle {
				span {
					background: #000;
					&:nth-child(1) {
						top: 12px;
					  -webkit-transform: rotate(135deg);
						-moz-transform: rotate(135deg);
						transform: rotate(135deg);
					}
					&:nth-child(2) {
						width: 0;
						left: 50%;
					}
					&:nth-child(3) {
						top: 12px;
						-webkit-transform: rotate(-135deg);
						-moz-transform: rotate(-135deg);
						transform: rotate(-135deg);
					}
				}
			}
		}
}
@media (max-width: 1000px) {
	header {
		padding: 5px;
	}
}
/*  slide ------------------------------------
----------------------------------------------*/
#main_img {
	position: relative;
	#slide_wrapp{
	  position: relative;
	  overflow: hidden;
	  
	  .slide_item{
	    opacity: 0;
	    transform: scale(1);
	    transition: opacity 2s linear, transform 8.5s linear;
	    position: relative;
	    z-index: 1;
	    
	    &:not(:first-child){
	      position: absolute;
	      top: 0;
	      left : 0;
	    }
	  
	    &.show_{
	      opacity: 1;
	    }
	    &.zoom_{
	      transform: scale(1.2);
	    }
	    img{
	      display: block;
	    }
	  }
		li {
			img {
				width: 100vw;
				height: 100vh;
			}
		}
		
	}
	#scroll {
		color: $font_color;
		position: absolute;
	  bottom: 30px;
	  left: 50%;
	  z-index: 2;
	  display: inline-block;
	  -webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-ms-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		transform: translate(-50%,0);
	  padding-top: 70px;
	  span {
		  position: absolute;
		  top: 0;
		  left: 50%;
		  width: 24px;
		  height: 24px;
		  margin-left: -12px;
		  border-left: 1px solid #fff;
		  border-bottom: 1px solid #fff;
		  -webkit-transform: rotate(-45deg);
		  transform: rotate(-45deg);
		  -webkit-animation: sdb 1.5s infinite;
		  animation: sdb 1.5s infinite;
		  box-sizing: border-box;
		}
		@-webkit-keyframes sdb {
		  0% {
		    -webkit-transform: rotate(-45deg) translate(0, 0);
		    opacity: 0;
		  }
		  50% {
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
		    opacity: 0;
		  }
		}
		@keyframes sdb {
		  0% {
		    transform: rotate(-45deg) translate(0, 0);
		    opacity: 0;
		  }
		  50% {
		    opacity: 1;
		  }
		  100% {
		    transform: rotate(-45deg) translate(-20px, 20px);
		    opacity: 0;
		  }
		}
	}
}

@media (max-width:768px) {
	#main_img {
		#slide_wrapp {
			li {
				img {
					object-fit: cover;
					object-position: 75% 75%;
				}
				#img_fire {
					object-position: 45% 45%;
				}
			}
		}
		
	}
}

/*  menu ------------------------------------
----------------------------------------------*/
#menu {
	#menu_li {
		width: 100%;
		ul {
			display: inline-flex;
			justify-content: center;
			width: 100%;
			li {
				overflow: hidden;
				width: 33.333%;
				position: relative;
				cursor: pointer;
				a {
					img {
						height: auto;
						width: 100%;
						display: block;
						transition-duration: 0.2s;
					}
					p {
						position: absolute;
						top: 50%;
						left: 50%;
						-ms-transform: translate(-50%,-50%);
						-webkit-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
						margin: 0;
						padding: 10px;
						text-decoration: none;
						color: #fff;
						font-size: 40px;
					}
				}
				&:hover {
					img {
						-webkit-transform: scale(1.2);
				    -moz-transform: scale(1.2);
				    -o-transform: scale(1.2);
				    -ms-transform: scale(1.2);
				    transform: scale(1.2);
				    transition-duration: 0.2s;
				    opacity: 0.6;
					}
					p {
				    border: 1px solid #fff;
						width : 200px;
						text-align: center;
				  }
				}
			}
			
		}
	}
}
@media (max-width:768px) {
	#menu {
		#menu_li {
			ul {
				flex-direction: column;
				li {
					width: 100%;
					height: 400px;
					position: relative;
					a {
						img {
							opacity: 0.8;
						}
						.menu_lunch {
							position: absolute;
							bottom: 0;
							left: 0;
						}
						.menu_bar {
							position: absolute;
							bottom: -90px;
							left: 0;
						}
						p {
							border: 1px solid #fff;
							width : 200px;
							text-align: center;
						}
					}
				}
			}
		}
	}
	
}
/*  reservations ------------------------------------
----------------------------------------------*/

#reservations {
	padding: 30px 0;
	background-image: url(../images/kanpai2.jpg);
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  text-align: center;
	#reservations_details {
		color: $font_color;
		font-size: 20px;
		line-height: 1.5em;
		.tel {
			font-size: 24px;
			margin: 20px auto;
			a {
				color: $font-color;
			}
		}
	}
}
#reservations::before {
  content: '';
  background-color: rgba(0,0,0,0.8);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width:768px) {
	#reservations {
		p {
			width: 90%;
			margin: 0 auto;
			font-size: 18px;
		}
	}
}
/*  location ------------------------------------
----------------------------------------------*/
#map {
	width: 100%;
	height: 400px;
}
/*  footer ------------------------------------
----------------------------------------------*/
footer {
	padding-top: 50px;
	background-color: #262626;
	color: #eee;
	#footer_wrapper {
		display: flex;
		justify-content: center;
		ul {
			margin-left: 180px;
			li:first-child {
				margin-bottom: 20px;
				font-size: 16px;
			}
			li {
				font-size: 14px;
				line-height: 1.5em;
				margin-bottom: 10px;
				a {
					color: #eee;
					text-decoration: none;
				}
			}
		}
	}
	.social_icon {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		li {
			margin-right: 20px;
			a {
				text-decoration: none;
				color: #eee;
			}
		}
	}
	#copy {
		font-size: 12px;
		text-align: center;
		padding: 25px 0;
		border-top: 1px solid #ffe599;
		a {
			text-decoration: none;
			color: #eee;
		}
	}
}

@media (max-width: 1000px) {
	footer {
		#footer_wrapper {
			flex-direction: column;
			text-align: center;
			ul {
				margin-left: 0;
				margin-top: 10px;

				li {
					&:first-child {
						margin-bottom: 10px;
					}
				}
			}
		}
		.social_icon {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		#copy {
			padding: 15px 0;
		}
	}
	
}

/*  subpage common ------------------------------------
----------------------------------------------*/
.subpage_main_img {
	position: relative;
	height: 60vh;
		width: 100%;
	img {
		height: 100%;
		width: 100%;
	}
	p {
		background-color: rgba(255,255,255,0.3);
		font-size: 52px;
		font-weight: 700;
		color: #fff;
		border: 1px solid #fff;
		padding: 15px 20px; 
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 50;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform : translate(-50%,-50%);
		transform : translate(-50%,-50%);
	}
	&::before {
			content: '';
		  background-color: rgba(0,0,0,0.4);
		  z-index: 40;
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		}
}
.box {
	height: auto;
	width: 80%;
	max-width: 780px;
	border: 1px solid #fff;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
	display: flex;
	padding: 20px 15px;
	
	div {
		flex: 1;
	}
}
#menu_wrapper {
	color: $font_color;
	font-size: 23px;
	width: 80%;
	margin: 0 auto;
	dl {
		width: 75%;
		margin: 100px 0;
		line-height: 32px;
		dt {
			font-size: 22px;
			font-weight: 700;
		}
		dd {
			font-size: 20px;
			margin-bottom: 40px;
		}
	}
}

.h3 {
	font-size: 26px;
	color: #ffe599;
	font-weight: 700;
	margin-bottom: -80px;
}

@media (min-width: 1100px ) {
	#menu_wrapper {
		dl {
			margin-left: 200px;
		}
		.h3 {
			margin-left: 200px;
		}
	}
	
}
@media (max-width: 768px) {
	#menu_wrapper {
		font-size: 18px;
		dl {
			margin-bottom: 50px;
			dt {
				font-size: 20px;
				margin-bottom: 10px;
			}
			dd {
				font-size: 18px;
			}
		}
	}
	.h3 {
		margin-left: 0;
		font-size: 22px;
	}
}
/*  lunch common ------------------------------------
----------------------------------------------*/

#menu_wrapper {
	.lunch_box {
		margin-bottom: 100px;
		div {
			ul {
				margin: 10px auto 0 auto;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				width: 400px;
				height: 80px;
				li {
					line-height: 40px;
					width: 50%;
					margin-right: 20px;
					text-align: left;
					list-style-type: disc;
				} 
			}
		}
	}
}

@media (max-width: 768px) {
	#menu_wrapper {
		.lunch_box {
			div {
				ul {
					width: 90%;
					height: auto;
					margin: 0 auto;
					li {
						width: 80%;
						margin: 0 auto;
						text-align: left;
					}
				}
			}
		}
	}
}
/*  dinner page ------------------------------------
----------------------------------------------*/
#menu_wrapper {
	.dinner_box {
		width: auto;
		margin-bottom: 100px;
		div {
			p {
				display: inline-block;
				width: 80%;
				text-align: left;
				margin-bottom: 20px;
			}
			ul {
				width: 500px;
				height: 160px;
				li {
				}
			}
		}
	}
	#dinner_steak {
		margin: 20px 0;
		dd {
			margin: 10px 50px;
		}
	}
}
@media (max-width: 768px) {
	#menu_wrapper {
		.dinner_box {
			div {
				p {
					width: 100;
				}
				ul {
					width: 90%;
					height: auto;
					margin: 0 auto;
					li {
						width: 80%;
						margin: 0 auto;
						text-align: left;
					}
				}
			}
		}
	}
}
/*  contact page ------------------------------------
----------------------------------------------*/
#contact_wrapper {
	width: 100%;
	color: $font_color;
	display: flex;
	justify-content: center;
	margin: 100px 0;
	
	div {
		width: auto;
		h3 {
			font-family: "Georgia";
			font-size: 40px;
			margin-bottom: 30px;
			color: #ffe599;
		}
		dl {
			line-height: 25px;
			dt {
				margin: 20px 0;
				font-weight: 700;
				font-size: 20px;
			}
			dd {
				font-size: 18px;
			}
		}
	}
	#contact_hour {
		margin-right: 200px;
	}
	#contact_reservation {
		a {
			color: $font_color;
			text-decoration: none;
			font-size: 20px;
			font-weight: 700;
			border: 1px solid $font_color;
			padding: 10px 20px;
		}
		p {
			font-size: 20px;
			margin-top: 30px;
			border-bottom: 1px solid $font_color;
			display: inline-block;
		}
	}
}
#contact_location {
	text-align: center;
	color: $font_color;
	margin-bottom: 50px;
}
@media (max-width: 768px) {
	#contact_wrapper {
		width: 90%;
		flex-direction: column;
		margin: 50px auto;
		text-align: center;
		div {
			dl {
				dt {
					font-size: 18px;
				}
				dd {
					font-size: 16px;
				}
			}
		}
		.h3_contact {
			text-align: center;
			font-size: 30px;
		}
		#contact_hour {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}